* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resizeable {
  border: solid 1px black;
  resize: both;
  overflow: hidden;
}

#canvas-container {
  width: 800px;
  height: 650px;
}

#canvas {
  cursor: crosshair;
}
